# To have more precise code-coverage, lombok generated methods are excluded from the code-coverage
lombok.addLombokGeneratedAnnotation = true

# Adds properties Annotation to the constructor for better runtime knowledge
lombok.anyConstructor.addConstructorProperties = true

# ATTENTION: CUSTOM
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
